<!DOCTYPE html>
<html>

<head>
    <title>Ana Dhaan Donation</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <h2>Anna Dhaan Donation</h2>
            <div class="details">
                <p>Amount Donation: <span id="amountDonation">
                        <%= amountDonation %>
                    </span></p>
                <p>Impact: <span id="impact">
                        <%= impact %>
                    </span></p>
                <p>Milestone: <span id="milestone">
                        <%= milestone %>
                    </span></p>
                <div class="progress-bar">
                    <div id="progress" class="progress" style="width: <%= progressWidth %>%"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        setTimeout(function () {
            location.reload();
        }, 1000);
    </script>
</body>

</html>