body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.details {
    margin-top: 20px;
}

p {
    color: #777;
    margin-bottom: 10px;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 4px;
    height: 10px;
    margin-top: 20px;
}

.progress {
    background-color: #38a169;
    height: 100%;
    width: 50%;
    border-radius: 4px;
}

 @keyframes sprinkle {
     0% {
         box-shadow: 0 0 0 rgba(0, 0, 0, 0);
     }

     25% {
         box-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
     }

     50% {
         box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
     }

     75% {
         box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5);
     }

     100% {
         box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5);
     }
 }

 .card {
     background-color: #f0f0f0;
     border-radius: 8px;
     padding: 20px;
     text-align: center;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
     animation: sprinkle 1s ease-in-out infinite;
 }